### For Loop

#### sum fo squares of numbers

In [1]:
numbers=[1,2]
sum_=0

for num in numbers:
    sum_=sum_+num**2
   
sum_

5

In [2]:
numbers=[1,2,3,1,5]
sum_=0

for num in numbers:
    sum_=sum_+num**2
   
sum_

40

In [3]:
numbers=[1,2,3,1,5]
product_=1

for i in numbers:
    product_=product_*i
   
product_

30

In [4]:
numbers=[1,3,5,7,9]
product_=1

for x in numbers:
    product_=product_*x
   
product_

945

In [5]:
1*3*5*7*9

945

In [9]:
fruits=["Apple","Banana","Grapes","Mango","Papaya"]
for fruit in fruits:
    print(fruit)

Apple
Banana
Grapes
Mango
Papaya

In [10]:
for letter in "Sheela":
    print(letter)

S
h
e
e
l
a

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
numbers=[1,3,5,8,9]
product_=1

for i in numbers:
    product_=product_*i
   
product_

1080

In [14]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [19]:
numbers=64
cube_root=numbers**(1/3)
print(f"the cube root of {numbers} is ={cube_root}")

the cube root of 64) is =3.9999999999999996

In [24]:
numbers=125
cube_root=numbers**(1/3)
print(f"the cube root of {numbers} is = {cube_root}")

the cube root of 125 is = 5.0

In [26]:
my_list=[3,5,6,8,4]
for num in range(len(my_list)):
    my_list.append(my_list[num]+2)
   
print(my_list)

[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

### While Loop

In [29]:
num=3

summation=0

c=1

while c<=num:
    summation=c**2+summation
    c=c+1
    
print(summation)

14

In [46]:
num=[12,14,6,7,9,19,25,36]
def prime_number(number):
    condition=0
    iteration=2
    
    while iteration<=number /2:
        if number % iteration == 0:
            condition=1
            break
        iteration=iteration+1
        
    if condition == 0:
            print(f"{number} is a PRIME number")
    else:
            print(f"{number} is not a PRIME number")
            
           
        
        
for i in num:
    prime_number(i)
    
    prime_number(i)

12 is not a PRIME number
12 is not a PRIME number
14 is not a PRIME number
14 is not a PRIME number
6 is not a PRIME number
6 is not a PRIME number
7 is a PRIME number
7 is a PRIME number
9 is not a PRIME number
9 is not a PRIME number
19 is a PRIME number
19 is a PRIME number
25 is not a PRIME number
25 is not a PRIME number
36 is not a PRIME number
36 is not a PRIME number

In [48]:
num1=9
num2=-6

while num1>5 and num2<-5:
    num1 -=2
    num2 +=3
    print((num1,num2))

(7, -3)

### Explaination
#### num1-2 = 9-2
#### num2+3 = -6+3

(7,-3)

In [49]:
num1=9
num2=5

while num1>5 or num2<-5:
    num1 -=2
    num2 +=3
    print((num1,num2))

(7, 8)
(5, 11)

#### we have to check the given condition with the coming result - iteration

In [52]:
for string in "Python Programming":
    if string=="r":
        break
        
    print(string)

P
y
t
h
o
n

P

In [53]:
for string in "Python Programming":
    if string=="m":
        break
       
    print(string)

P
y
t
h
o
n

P
r
o
g
r
a

In [54]:
for string in "Python Programming":
    if string=="g":
        break
       
    print(string)

P
y
t
h
o
n

P
r
o

In [55]:
for item in "Calculator":
    if item=="r":
        break
       
    print(item)

C
a
l
c
u
l
a
t
o

In [56]:
for item in "Calculator":
    if item=="a":
        continue
       
    print(item)

C
l
c
u
l
t
o
r